@{
    ViewData["Title"] = "О разработчике";
}

<div style="display: flex; margin-top: -50px; flex-direction: row; height: 100vh; align-items: center;">
    <!-- Левая половина экрана с изображением -->
    <div style="flex: 1; display: flex; justify-content: center; align-items: center; background-color: #fff;">
        <img src="/Media/qr-code.jpg" alt="Изображение разработчика"
             style="max-width: 80%; max-height: 80%; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">

    </div>

    <!-- Правая половина экрана с информацией -->
    <div style="flex: 1; padding: 40px; display: flex; flex-direction: column; justify-content: center; background-color: #ffffff;">
        <h1 style="font-size: 2.5rem; color: #343a40;">О разработчике</h1>
        <p style="font-size: 1.2rem; color: #495057; margin-top: 20px; line-height: 1.6;">
            Разработчиком данного приложения является студент 3-его курса. Благодаря упорству и бессонным ночам он реализовал данный проект и гордится своей работой. Он также будет рад, если Вы наградите его добрым словом.
        </p>
        
        <p style="font-size: 1rem; color: #6c757d; margin-top: 20px;">
            Почта: <a href="mailto:cuyeshi@mail.ru" style="color: #007bff; text-decoration: none;">cuyeshi@mail.ru</a>
            Контакты: <a href="https://t.me/cuyeshi" style="color: #007bff; text-decoration: none;">@@cuyeshi</a>
        </p>
    </div>
</div>
