@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Главная";
}

<div style="margin-top: 50px"  class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Добро пожаловать</h1>
        <p style="font-size: 20px; margin-top: 25px">Вы можете выбрать одну из таблиц для просмотра или редактирования</p>

        <!-- Кнопки навигации -->
        <div style="margin-top: 25px" class="mt-4">
            <a href="/Books" class="btn btn-primary btn-lg m-2">Книги</a>
            <a href="/Genres" class="btn btn-info btn-lg m-2">Жанры</a>
            <a href="/LoanedBooks" class="btn btn-success btn-lg m-2">Взятые книги</a>
        </div>

        <div class="mt-4">
            <a href="/Employees" class="btn btn-danger btn-lg m-2">Сотрудники</a>
            <a href="/Publishers" class="btn btn-warning btn-lg m-2">Издатели</a>
            <a href="/Readers" class="btn btn-secondary btn-lg m-2" style="background-color: purple; border-color: purple;">Читатели</a>
        </div>

        <div style="width: 100%; text-align: center;">
            <p></p>
            <hr style="display: inline-block; width: 60%; border: 0; border-top: 5px solid gray;">
        </div>
        <p style="font-size: 20px">Вы также можете выбрать одну из дополнительных опций просмотра таблиц</p>

        <div class="mt-4" style="margin-bottom: 100px">
            <a asp-controller="PersonnelDepartment" asp-action="Index" class="btn btn-secondary">Отдел кадров</a>
            <a asp-controller="Catalog" asp-action="Index" class="btn btn-secondary">Каталог</a>
            <a asp-controller="BooksOnHands" asp-action="Index" class="btn btn-secondary">Книги на руках</a>
            <a asp-controller="FallReaders" asp-action="Index" class="btn btn-secondary">Просроченные книги</a>

        </div>
    }
    else
    {
        <h3>Действия на данном сайте будут доступны лишь после авторизации</h3>
    }

    
</div>
