@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Добро пожаловать</h1>
        <p>Вы можете выбрать одну из таблиц для просмотра или редактирования</p>

        <!-- Кнопки навигации -->
        <div class="mt-4">
            <a href="/Books" class="btn btn-primary btn-lg m-2">Books</a>
            <a href="/Genres" class="btn btn-info btn-lg m-2">Genres</a>
            <a href="/LoanedBooks" class="btn btn-success btn-lg m-2">Loaned Books</a>
        </div>

        <div class="mt-4">
            <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary">Отдел кадров</a>
            <a asp-controller="Catalog" asp-action="Index" class="btn btn-secondary">Каталог</a>
            <a asp-controller="BooksOnHands" asp-action="Index" class="btn btn-secondary">Книги на руках</a>
            <a asp-controller="FallReaders" asp-action="Index" class="btn btn-secondary">Просроченные книги</a>

        </div>
    }
    else
    {
        <h3>Действия на данном сайте будут доступны лишь после авторизации</h3>
    }

    
</div>
