@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                @Html.AntiForgeryToken() <!-- Добавляем защитный токен -->

                <h2>Войдите для продолжения.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input name="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Aiaiai" />
                    <label for="Email" class="form-label">Имя пользователя</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="Password" class="form-label">Пароль</label>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
